<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>小林小露一手</title>
        <link type="text/css" rel="stylesheet" href="style.css">
        <!--引入Vue-->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
       
    </head>
    <body>
        <div class="canvas" id="app">
            <div class="first">
                <div class="font">Hello World</div>
                <div class="text">China is speeding up strategic plan, standards, traffic rules, laws and regulations on accident-incurred liabilities for its smart car industry, Economic Information Daily reported Thursday.</div>
                <div class="box">
                    <p>CREAT YOUR ACCOUNT</p>
                    <p>IT IS ABSOLUTELY FREE</p>
                    <form>
                        <input type="text" v-model="mail" class="input1">
                        <input type="text" v-model="pwd" class="input1">
                        <button>SIGN UP</button>
                    </form>
                </div>
            </div>

            <div class="second">
                <span>BOATLOADS OF AWESOME</span>
                <p>Ready-made,customizable,HTML</p>
                <font>landing page sections</font>
                <div class="content">
                    <div class="each">
                        <img src="assets/Iphone Icon.png">
                        <p>Mobile First</p>
                        <div>All modulz are built mobile-first maximum device compatibility.</div>
                    </div>
                    <div class="each">
                        <img src="assets/Check Icon.png">
                        <p>Accessibility</p>
                        <div>Support for IE8, mobile and tablet devices, screenreaders and color blind.</div>
                    </div>
                    <div class="each">
                        <img src="assets/Pencil Icon.png">
                        <p>Fluid Typography</p>
                        <div>On different screen sizes, fonts automagically scale with the viewport.</div>
                    </div>
                    <div class="each">
                        <img src="assets/Settings Icon.png">
                        <p>Customization</p>
                        <div>Make any design your own using the Style Editor. Personalize fonts, colors, and layouts to create the custom look you want.</div>
                    </div>
                </div>
            </div>

            <div class="third">
                <div class="left">
                    <div class="title">Supportive policies for China's smart car</div>
                    <div class="detail">China will come up with its own smart car standards, traffic rules, laws and regulations relating to safety, according to the China Industry Innovation Alliance for the Intelligent and Connected Vehicles.</div>
                    <div class="buttons">
                        <div class="white">CHECK OUT FEATURES</div>
                        <div class="origin">TRY PRODUCT FOR FREE</div>
                    </div>
                </div>
                <div class="right">
                    <img src="assets/Screen.png">
                </div>
            </div>

            <div class="forth">
                <p>Try Our Awesome Products</p>
                <div>
                    <img src="assets/Singleton.png">
                    <div>Li Jun, a China Academy of Engineering academician and also director of the alliance's experts' committee, said that China will also launch design guidance for smart cars, smart map architecture and standards for test grounds.</div>
                </div>
                <div>
                    <img src="assets/Hero.png">
                    <div>Li said the smart car industry is able to enlarge the current car industry by 1 trillion yuan ($158.15 billion) and also able to boost fast development in 5G, internet of cars, big data, artificial intelligence and new-energy vehicles.</div>
                </div>
                <div>
                    <img src="assets/Portland.png">
                    <div>Zhang Junyi, a partner with NIO Capital, said that the smart car is the trend for the car industry and China's auto sector will usher in a new key development stage with the improvement of infrastructure, technology, policies and laws.</div>
                </div>
            </div>

            <div class="fifth">
                <div class="bowl">
                    <div>
                        <img src="assets/3 (2).png">
                        <div class="rh">
                            <font>Learn How to Improve Your Personal Business</font><br>
                            <div>Li Jun, a China Academy of Engineering academician and also director of the alliance's experts' committee, said that China will also launch design guidance for smart cars, smart map architecture and standards for test grounds.</div>
                        </div>
                    </div>
                    <div>
                        <div class="rh" style="margin-left: 0;margin-right: 120px;">
                            <font>Choose Between Two Beautifully Designed Color Schemes.</font><br>
                            <div>China will come up with its own smart car standards, traffic rules, laws and regulations relating to safety, according to the China Industry Innovation Alliance for the Intelligent and Connected Vehicles.</div>
                        </div>
                        <img src="assets/4.png">
                    </div>
                </div>
            </div>

            <div class="sixth">
                <span>Our Awesome Crew</span>
                <div class="our">Our unique online teaching style makes learning easy for everyone. Whether you are trying to land a new job, brush up on your skills.</div>
                <div class="plate">
                    <div><img src="assets/2.png"></div>
                    <div><img src="assets/3.png"></div>
                    <div><img src="assets/zsy.png"></div>
                    <div><img src="assets/_meitu_3.png"></div>
                </div>
            </div>

            <div class="seventh">
                <div class="form">
                    <span>FELL FREE TO WRITE US</span>
                    <form>
                        <input type="text" v-model="email" class="commoninput">
                        <input type="text" v-model="subject" class="commoninput">
                        <input type="textarea" v-model="message" class="commoninput" style="height: 150px;">
                        <button>SEND</button>
                    </form>
                </div>
                <div class="contacts">
                    <span>Contacts</span>
                    <p>Make any design your own using the Style Editor. Personalize fonts, colors, and layouts to create the custom look you want.</p>
                    <div class="bao">
                        <div>
                            <img src="assets/Map Icon.png">
                            <span>360 King Street
                                    Feastrvale Trevose, PA 19057  </span>
                        </div>
                        <div>
                            <img src="assets/Phone Icon.png">
                            <span>(755) 564-84-12</span>
                        </div>
                        <div>
                            <img src="assets/Mail Icon.png">
                            <span>yourname@mail.com</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer">
                <div>
                    <ul>
                        <li>LEARN MORE</li>
                        <li><a>How it work?</a></li>
                        <li><a>Meeting tools</a></li>
                        <li><a>Live streaming</a></li>  
                        <li><a>Contact method</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>ABOUT US</li>
                        <li><a>About us</a></li>
                        <li><a>Features</a></li>
                        <li><a>Privacy police</a></li>  
                        <li><a>Terms & Conditions</a></li>
                    </ul>
                </div>
                <div>
                        <ul>
                            <li>SUPPORT</li>
                            <li><a>FAQ</a></li>
                            <li><a>Contact us</a></li>
                            <li><a>Live chat</a></li>  
                            <li><a>Phone call</a></li>
                        </ul>
                </div>
                <div class="last">
                        <ul>
                            <li>ENJOY YOUR LIFE</li>
                            <li style="line-height: 25px">Create web UI kit for designers,freelancers or business.</li>
                        </ul>
                        <a><img src="assets/Twitter Icon.png"></a>
                        <a><img src="assets/Tumbler Icon.png"></a>
                        <a><img src="assets/Google Icon.png"></a>
                        <a><img src="assets/Instagram.png"></a>
                        <a><img src="assets/Pinterest Icon.png"></a>
                        <a><img src="assets/Facebook Icon.png"></a>
                </div>
            </div>
        </div>
        <script>
            var app=new Vue({
                el:'#app',
                data:{
                    mail:'Your mailbox',
                    pwd:'Create your password',
                    email:'E-mail',
                    subject:'Subject',
                    message:'Message',
                },
            })
        </script>
    </body>
</html>